[submodule "support/connect"]
	path = support/connect
	url = https://github.com/senchalabs/connect.git
[submodule "support/expresso"]
	path = support/expresso
	url = https://github.com/visionmedia/expresso
